@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #000000;
  background-color: #fff;
}
body.no-scroll {
  overflow: hidden;
}
@media only screen and (min-width: 1280px) {
  body.no-scroll.menu-opened {
    overflow: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-right: 35px;
  padding-left: 35px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  cursor: pointer;
  color: #d41443;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #ecebeb;
}

.button--accent {
  color: #fff;
  background-color: #d41443;
}

.button--round {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
}

.button--alternate {
  color: #fff;
  background-color: #d41342;
}

.button--accent:hover,
.button--accent:focus,
.button--alternate:hover,
.button--alternate:focus {
  background-color: #c7133e;
}

.button--bold {
  height: 44px;
  font-size: 16px;
  font-weight: 700;
}

.social-link {
  display: inline-flex;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-items: center;
  background-color: #fea5bb;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #d41443;
}

.social-link__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  background-color: #ffb8ca;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 767.98px) {
  .header {
    background-image: url("../images/hero-header/icecream1x-header-mobile.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: right bottom;
  }
}
@media only screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), only screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767.98px) and (min-resolution: 192dpi), only screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/hero-header/icecream2x-header-mobile.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: right bottom;
  }
}

.header__inner {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .header__inner {
    background-image: url("../images/hero-header/girl1x-tablet.png"), url("../images/hero-header/icecream1x-header-tablet.png");
    background-repeat: no-repeat;
    background-size: 190px, 370px;
    background-position: right bottom, left 65% bottom;
  }
}
@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header__inner {
    background-image: url("../images/hero-header/girl2x-tablet.png"), url("../images/hero-header/icecream2x-header-tablet.png");
    background-repeat: no-repeat;
    background-size: 190px, 370px;
    background-position: right bottom, left 65% bottom;
  }
}
@media screen and (min-width: 1280px) {
  .header__inner {
    overflow: hidden;
    background-image: url("../images/hero-header/girl1x-descktop.png"), url("../images/hero-header/icecream1x-header-descktop.png");
    background-repeat: no-repeat;
    background-size: 304px, 534px;
    background-position: right bottom, right 38% bottom;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header__inner {
    background-image: url("../images/hero-header/girl2x-descktop.png"), url("../images/hero-header/icecream2x-header-descktop.png");
    background-repeat: no-repeat;
    background-size: 304px, 534px;
    background-position: right bottom, right 38% bottom;
  }
}

.header__nav {
  padding-top: 8px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    padding-top: 20px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav {
    justify-content: space-between;
    padding-top: 37px;
  }
}

.nav {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: rgb(225, 121, 146);
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  .nav.is-open {
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .nav {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: #e17992;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav.is-open {
    transform: translateX(50%);
  }
  .nav.is-open + .button__menu {
    position: absolute;
    top: 20px;
    right: 35px;
  }
}

@media screen and (max-width: 1279px) {
  .nav__items {
    padding-top: 123px;
  }
}
@media screen and (min-width: 1280px) {
  .nav__items {
    display: flex;
    align-items: center;
  }
}

.nav__item {
  margin-right: 35px;
}
.nav__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1279px) {
  .nav__item {
    padding: 12px 20px;
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
    margin-right: 0;
  }
}

.nav__link {
  display: block;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--active {
  color: #d41443;
}
.nav__link:hover {
  color: #d41443;
}
@media screen and (max-width: 1279px) {
  .nav__link {
    padding: 12px 20px;
  }
}

.button__menu {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 7;
  border: none;
  width: 30px;
  height: 30px;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .button__menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .button__menu {
    margin-left: auto;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .button__menu {
    display: none;
  }
}
.button__menu .button__line {
  display: inline-flex;
  z-index: 6;
  width: 24px;
  height: 2px;
  background-color: #d41443;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity;
}
.button__menu .button__line::before, .button__menu .button__line::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #d41443;
  transition: all 0.4s;
}
.button__menu .button__line::before {
  content: "";
  top: 6px;
  left: 3px;
}
.button__menu .button__line::after {
  content: "";
  bottom: 6px;
  left: 3;
}
.button__menu.is-open .button__line {
  width: 0;
}
.button__menu.is-open .button__line::before {
  content: "";
  top: 15px;
  left: 3;
  transform: rotate(45deg);
  background-color: #fff;
}
.button__menu.is-open .button__line::after {
  content: "";
  transform: rotate(-45deg);
  bottom: 13px;
  left: 3;
  background-color: #fff;
}

.header__nav .button {
  border-radius: 22px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .header__nav .button {
    display: none;
  }
}

.nav.is-open .button {
  width: 209px;
}
@media screen and (max-width: 767px) {
  .nav.is-open .button {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .nav.is-open .button {
    position: absolute;
    top: 60px;
    left: 35%;
    transform: translateX(-100%);
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .nav.is-open .button {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav.is-open ~ .button {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .nav.is-open ~ .button {
    display: block;
  }
}

.nav .button {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(100%);
}
@media screen and (min-width: 1280px) {
  .nav .button {
    display: none;
  }
}

.button__icon {
  width: 10px;
  height: 10px;
  margin-left: 15px;
  fill: transparent;
  stroke: #d41443;
}

.header__body {
  padding-top: 136px;
  padding-bottom: 158px;
}
@media screen and (min-width: 768px) {
  .header__body {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .header__body {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.header__items {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .header__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .header__items {
    margin-bottom: 40px;
  }
}

.header__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
@media screen and (max-width: 1279px) {
  .header__title {
    font-size: 22px;
    max-width: 162px;
  }
}
@media screen and (min-width: 1280px) {
  .header__title {
    font-size: 38px;
    max-width: 277px;
    margin-bottom: 24px;
  }
}
.header__title--accent {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .header__title--accent {
    font-size: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .header__title--accent {
    font-size: 55px;
  }
}

.header__body .button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.1;
  height: 24px;
  padding: 5px 13px;
}
@media screen and (min-width: 1280px) {
  .header__body .button {
    font-size: 14px;
    line-height: 1.2;
    height: 40px;
    padding: 11px 22px;
  }
}
.header__body .button.button + .button {
  margin-left: 8px;
}

.header__group {
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .header__group {
    display: none;
  }
}

.header__number {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #d41443;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 2;
}
.header__number::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
}
@media screen and (min-width: 1280px) {
  .header__number {
    font-size: 46px;
    line-height: 1.3;
  }
  .header__number::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
  }
}

.header__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}
.header__text--accent {
  padding-right: 10px;
}
@media screen and (min-width: 1280px) {
  .header__text {
    font-size: 14px;
    line-height: 1.3;
  }
  .header__text--accent {
    padding-right: 20px;
  }
}

.header__product {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__product {
    display: none;
  }
}

.product__thumb {
  width: 213px;
}
.product__thumb .product__img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__body {
  width: 200px;
}
@media screen and (max-width: 1279px) {
  .product__body {
    width: 114px;
  }
}

.product__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  max-width: 114px;
  color: #fff;
  margin-bottom: 7px;
}
@media screen and (min-width: 1280px) {
  .product__text {
    max-width: 200px;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 20px;
  }
}

.product__body .button {
  width: 18px;
  height: 18px;
  padding: 0;
}
@media screen and (min-width: 1280px) {
  .product__body .button {
    width: 26px;
    height: 26px;
    padding: 0;
  }
}

.product__icon {
  width: 10px;
  height: 10px;
  padding: 0;
  fill: #d41443;
}

.products {
  padding-top: 80px;
  padding-bottom: 40px;
}

.products__label {
  font-family: "Titan One", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .products__label {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1280px) {
  .products__label {
    font-size: 30px;
  }
}

.products__title {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 148px;
}
@media only screen and (min-width: 768px) {
  .products__title {
    font-size: 48px;
    margin-bottom: 154px;
  }
}
@media only screen and (min-width: 1280px) {
  .products__title {
    font-size: 58px;
    margin-bottom: 258px;
  }
}

.products__list {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .products__list {
    display: flex;
  }
}

.products-item {
  background: #ffb8ca;
  border-radius: 24px;
  padding: 160px 40px 0;
  height: 490px;
}
.products-item--bg-coffee {
  background-color: #f0d1a5;
}
.products-item--bg-milk {
  background-color: #c2e297;
}
@media only screen and (max-width: 767.98px) {
  .products-item:not(:last-child) {
    margin-bottom: 140px;
  }
}
@media only screen and (min-width: 768px) {
  .products-item:not(:last-child) {
    margin-right: 15px;
  }
  .products-item {
    padding: 115px 33px 0;
    height: 450px;
  }
}
@media only screen and (min-width: 1280px) {
  .products-item:not(:last-child) {
    margin-right: 30px;
  }
  .products-item {
    padding: 165px 75px 60px;
    height: 535px;
  }
}

.products-item__title {
  position: relative;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 70px;
}
@media only screen and (min-width: 1280px) {
  .products-item__title {
    font-size: 30px;
  }
}
.products-item__title::before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  width: 280px;
  height: 280px;
  content: "";
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .products-item__title::before {
    width: 224px;
    height: 224px;
  }
}
@media only screen and (min-width: 1280px) {
  .products-item__title::before {
    width: 394px;
    height: 394px;
  }
}
.products-item__title--ice::before {
  background-image: url(../images/products/icecream1x-mobile.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-item__title--ice::before {
    background-image: url(../images/products/icecream2x-mobile.png);
  }
}
@media only screen and (min-width: 768px) {
  .products-item__title--ice::before {
    background-image: url(../images/products/icecream1x-tablet.png);
  }
}
@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-item__title--ice::before {
    background-image: url(../images/products/icecream2x-tablet.png);
  }
}
@media only screen and (min-width: 1280px) {
  .products-item__title--ice::before {
    background-image: url(../images/products/icecream1x-descktop.png);
  }
}
@media only screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1280px) and (min-resolution: 192dpi), only screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-item__title--ice::before {
    background-image: url(../images/products/icecream2x-descktop.png);
  }
}
.products-item__title--coffee::before {
  background-image: url(../images/products/icecoffee1x-mobile.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-item__title--coffee::before {
    background-image: url(../images/products/icecoffee2x-mobile.png);
  }
}
@media only screen and (min-width: 768px) {
  .products-item__title--coffee::before {
    background-image: url(../images/products/icecoffee1x-tablet.png);
  }
}
@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-item__title--coffee::before {
    background-image: url(../images/products/icecoffee2x-tablet.png);
  }
}
@media only screen and (min-width: 1280px) {
  .products-item__title--coffee::before {
    background-image: url(../images/products/icecoffee1x-descktop.png);
  }
}
@media only screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1280px) and (min-resolution: 192dpi), only screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-item__title--coffee::before {
    background-image: url(../images/products/icecoffee2x-descktop.png);
  }
}
.products-item__title--milk::before {
  background-image: url(../images/products/milkshake1x-mobile.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-item__title--milk::before {
    background-image: url(../images/products/milkshake2x-mobile.png);
  }
}
@media only screen and (min-width: 768px) {
  .products-item__title--milk::before {
    background-image: url(../images/products/milkshake1x-tablet.png);
  }
}
@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-item__title--milk::before {
    background-image: url(../images/products/milkshake2x-tablet.png);
  }
}
@media only screen and (min-width: 1280px) {
  .products-item__title--milk::before {
    background-image: url(../images/products/milkshake1x-descktop.png);
  }
}
@media only screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1280px) and (min-resolution: 192dpi), only screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-item__title--milk::before {
    background-image: url(../images/products/milkshake2x-descktop.png);
  }
}
.products-item__title::after {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  content: "";
  display: inline-block;
  filter: drop-shadow(10px 0px 0px #fff) drop-shadow(-10px 0px 0px #fff);
}
@media only screen and (min-width: 1280px) {
  .products-item__title::after {
    top: 65px;
  }
}

.products-item__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 32px;
}
@media only screen and (min-width: 1280px) {
  .products-item__text {
    margin-bottom: 60px;
  }
}

.products__icon {
  width: 17px;
  height: 15px;
  fill: #d41443;
}

.about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: contain;
  background-color: #fff5f6;
}
@media only screen and (min-width: 768px) {
  .about {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 1280px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 767.98px) {
  .about {
    background-image: url(../images/about/spilledmilk1x-mobile.png);
  }
}
@media only screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), only screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767.98px) and (min-resolution: 192dpi), only screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/spilledmilk2x-mobile.png);
  }
}
@media only screen and (min-width: 1280px) {
  .about {
    background-image: url(../images/about/spilledmilk1x-descktop.png);
    background-position: bottom;
    background-size: contain;
  }
}
@media only screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1280px) and (min-resolution: 192dpi), only screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/spilledmilk1x-descktop.png);
  }
}

@media only screen and (min-width: 768px) {
  .about__thumb {
    display: flex;
  }
}

.about__label {
  font-family: "Titan One", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .about__label {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1280px) {
  .about__label {
    font-size: 30px;
  }
}

.about__title {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .about__title {
    font-size: 58px;
    margin-bottom: 60px;
  }
}

.about__block {
  margin-top: 40px;
  width: 220px;
}
@media only screen and (min-width: 768px) {
  .about__block {
    margin-left: 32px;
    margin-top: 0;
    width: 335px;
  }
}
@media only screen and (min-width: 1280px) {
  .about__block {
    width: 440px;
    margin-left: 140px;
    padding-top: 90px;
  }
}

.about__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #000000;
}
.about__text:not(:last-of-type) {
  margin-bottom: 20px;
}
.about__text--sub {
  color: #907e82;
}
@media only screen and (min-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.77;
  }
}
@media only screen and (min-width: 1280px) {
  .about__text {
    font-size: 16px;
  }
  .about__text:not(:last-of-type) {
    margin-bottom: 32px;
  }
}

.button--about {
  font-weight: 700;
  width: 176px;
  height: 44px;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .button--about {
    margin-top: 40px;
  }
}

.about__icon {
  width: 15px;
  height: 15px;
  fill: transparent;
  stroke: #d41443;
  margin-left: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  background-color: #fff5f6;
  padding: 0 70px 80px 20px;
}
@media only screen and (min-width: 768px) {
  .advantages {
    padding: 0 209px 80px 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .advantages {
    padding: 21px 123px 120px 16px;
  }
}

.advantages__header {
  display: none;
}

.advantages__list {
  display: block;
}
@media only screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
  }
}

.advantages {
  background-color: #fff5f6;
}
.advantages__item {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 320px) {
  .advantages__item {
    width: 230px;
    padding-top: 60px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .advantages__item {
    width: 180px;
    padding-top: 86px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 22px;
  }
}
@media only screen and (min-width: 1280px) {
  .advantages__item {
    width: 288px;
    padding-top: 90px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 106px;
  }
}
.advantages__item::before {
  content: " ";
  position: absolute;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}
.advantages__item--milk::before {
  width: 33px;
  height: 50px;
  top: 0;
  left: 0;
  background-image: url(../images/advantages/milk1x.png), url(../images/advantages/milk2x.png);
}
.advantages__item--apple::before {
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-image: url(../images/advantages/apple1x.png), url(../images/advantages/apple2x.png);
}
.advantages__item--heart::before {
  width: 44px;
  height: 50px;
  top: 0;
  left: 0;
  background-image: url(../images/advantages/heart1x.png), url(../images/advantages/heart2x.png);
}
.advantages__text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.75;
  }
}

.advantages__title {
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .advantages__title {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 13px;
  }
}
@media only screen and (min-width: 1280px) {
  .advantages__title {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery {
  padding: 0;
}
.gallery__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 767.98px) {
  .gallery__img {
    max-width: 364px;
  }
}
@media only screen and (max-width: 1279.98px) {
  .gallery__img {
    max-width: 786px;
  }
}
@media only screen and (max-width: 1279.98px) {
  .gallery__img {
    max-width: 1280px;
  }
}

.customer-reviews {
  padding-top: 80px;
  padding-bottom: 375px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .customer-reviews {
    padding-bottom: 206px;
  }
}
@media only screen and (min-width: 1280px) {
  .customer-reviews {
    padding-bottom: 223px;
  }
}
@media only screen and (min-width: 768px) {
  .customer-reviews__container {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media only screen and (min-width: 1280px) {
  .customer-reviews__container {
    padding-left: 83px;
    padding-right: 83px;
  }
}
.customer-reviews__photo {
  display: inline-block;
  margin-bottom: 32px;
}
.customer-reviews__quote-wrapper {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 43px;
  padding-bottom: 26px;
  position: relative;
  z-index: 1;
  background-color: #fafafa;
  margin-bottom: 36px;
}
@media only screen and (min-width: 768px) {
  .customer-reviews__quote-wrapper {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 37px;
    padding-bottom: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .customer-reviews__quote-wrapper {
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 37px;
    padding-bottom: 36px;
  }
}
.customer-reviews__quote-wrapper::after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c7133e;
  box-shadow: 10px 0px 0px #c7133e, -10px 0px 0px #c7133e;
}
.customer-reviews__quote {
  padding-left: 15px;
  position: relative;
  padding-right: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.55;
  text-align: center;
  z-index: 0;
  background: repeating-linear-gradient(#fafafa, #fafafa 26px, #e1e1e1 27px, #fafafa 28px 31px);
}
@media only screen and (min-width: 768px) {
  .customer-reviews__quote {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    padding-left: 45px;
    padding-right: 50px;
    background: repeating-linear-gradient(#fafafa, #fafafa 25px, #e1e1e1 26px, #fafafa 27px 32px);
  }
}
@media only screen and (min-width: 1280px) {
  .customer-reviews__quote {
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    padding-left: 36px;
    padding-right: 36px;
    background: repeating-linear-gradient(#fafafa, #fafafa 26px, #e1e1e1 27px, #fafafa 28px 31px);
  }
}
.customer-reviews__quote::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 54px;
  height: 40px;
  top: -17px;
  left: 6;
  z-index: -1;
  background-image: url("../images/custom-services/quotes.svg");
}
.customer-reviews__person {
  display: inline-block;
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 16px;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
}

.slick-active .sl-link {
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.sl-link {
  width: 12px;
  height: 12px;
  background-size: contain;
  background-color: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li:not(:last-child) {
  margin-right: 18px;
}

.contacts__text-style {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}
@media only screen and (min-width: 768px) {
  .contacts__text-style {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1280px) {
  .contacts__text-style {
    font-size: 16px;
  }
}

.contacts .button {
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
}

.contacts {
  background-color: #fff5f6;
}
.contacts__container {
  position: relative;
}
.contacts__group {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts-card {
  padding: 40px 32px;
  background: #fff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.contacts-card__class {
  display: inline-block;
  padding: 0 25px;
  margin-bottom: 20px;
  background-color: #f0d1a5;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}
.contacts-card:nth-child(2n) .contacts-card__class {
  background-color: #c2e297;
}
.contacts-card__city {
  color: #000000;
  margin-bottom: 8px;
}
.contacts-card__description {
  color: #907e82;
  margin-bottom: 24px;
  line-height: 1.5;
  letter-spacing: normal;
}
.contacts-card--first {
  -webkit-animation: changeContactsCard 20000ms infinite 2000ms;
          animation: changeContactsCard 20000ms infinite 2000ms;
}
.contacts-card--second {
  -webkit-animation: changeContactsCard 20000ms infinite 8000ms;
          animation: changeContactsCard 20000ms infinite 8000ms;
}
.contacts-card--third {
  -webkit-animation: changeContactsCard 20000ms infinite 14000ms;
          animation: changeContactsCard 20000ms infinite 14000ms;
}

@-webkit-keyframes changeContactsCard {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes changeContactsCard {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 767.98px) {
  .contacts__container {
    padding-top: 1011px;
    padding-bottom: 48px;
  }
  .contacts__group {
    max-width: 280px;
    bottom: 178px;
  }
  .contacts-card:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .contacts__container {
    padding: 472px 18px 40px 18px;
  }
  .contacts__group {
    max-width: 732px;
    flex-direction: row;
    bottom: 124px;
    margin: 0;
  }
  .contacts-card__class {
    font-size: 16px;
    padding: 0 16px;
    margin-bottom: 32px;
    border-radius: 6px;
  }
  .contacts-card__city {
    margin-bottom: 12px;
  }
  .contacts-card__description {
    line-height: 1.6;
    margin-bottom: 32px;
  }
  .contacts-card:not(:last-child) {
    margin-right: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .contacts__container {
    padding-top: 525px;
    padding-bottom: 120px;
  }
  .contacts__group {
    max-width: 1248px;
    bottom: 225px;
  }
  .contacts-card__city {
    margin-bottom: 8px;
  }
  .contacts-card__description {
    line-height: 1.8;
  }
}
.shedule {
  display: block;
  margin-bottom: 24px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 24px 0;
}
.shedule__parts:not(:last-child) {
  margin-bottom: 8px;
}
.shedule__days {
  color: #000000;
}
.shedule__time {
  color: #ffa5ba;
}

.adress__link {
  border: 0;
}
.adress__number {
  color: #907e82;
}
.adress__mail {
  color: #907e82;
}

.help-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help-button__icon {
  margin-left: 13px;
  fill: transparent;
  stroke: #d41443;
}

.alternate-button__icon {
  margin-left: 8px;
  fill: transparent;
  stroke: #fff;
}

@media only screen and (max-width: 767.98px) {
  .help-button__franchise:first-child {
    padding: 0 17px;
  }
  .help-button__franchise:last-child {
    margin-top: 10px;
    padding: 0 31px;
  }
}
@media only screen and (min-width: 768px) {
  .shedule {
    margin-bottom: 32px;
    padding: 32px 0;
  }
  .shedule__parts {
    margin-bottom: 12px;
  }

  .help-button {
    flex-direction: row;
  }
  .help-button__icon {
    margin-left: 13px;
  }
  .help-button__franchise:first-child {
    padding: 0 34px 0 30px;
  }
  .help-button__franchise:last-child {
    padding: 0 38px;
    margin-left: 14.5px;
  }
}
@media only screen and (min-width: 1280px) {
  .help-button__franchise:first-child {
    padding: 0 35px;
  }
  .help-button__franchise:last-child {
    padding: 0 39px;
    margin-left: 15px;
  }
}
.footer {
  background-color: #fff5f6;
}
.footer__container {
  padding-bottom: 40px;
}

.handmade {
  max-width: 234px;
}
.handmade__upper-text {
  font-family: "Titan One", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 16px;
}
.handmade__under-text {
  font-family: "Titan One", sans-serif;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  -webkit-animation: changeFooterColor 4000ms infinite alternate;
          animation: changeFooterColor 4000ms infinite alternate;
}
.handmade__under-icon {
  fill: #d41443;
  transform: rotate(45deg);
}

@-webkit-keyframes changeFooterColor {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes changeFooterColor {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}
.socials__list {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 40px;
}
.socials__icon {
  width: 60%;
  height: 60%;
  fill: #fff;
}
.socials__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: #000000;
}
.socials__tel {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: #d41443;
}

.rights-reserved {
  width: 100%;
  border-top: 1px solid #e1e1e1;
}
.rights-reserved__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: #907e82;
}

@media only screen and (max-width: 767.98px) {
  .handmade {
    margin-bottom: 40px;
  }
  .handmade__under-icon {
    width: 20px;
    height: 20px;
  }

  .socials__link {
    width: 32px;
    height: 32px;
  }
  .socials__box:not(:last-child) {
    margin-right: 28px;
  }

  .rights-reserved {
    display: block;
    padding: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
  }

  .handmade {
    max-width: 370px;
  }
  .handmade__upper-text {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    margin-bottom: 12px;
  }
  .handmade__under-text {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
  .handmade__under-icon {
    width: 40px;
    height: 40px;
  }

  .socials__link {
    width: 34px;
    height: 34px;
  }
  .socials__box:not(:last-child) {
    margin-right: 30px;
  }

  .rights-reserved {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px 0;
  }
  .rights-reserved__text {
    letter-spacing: 0.02em;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__container {
    padding-bottom: 60px;
  }

  .handmade {
    max-width: 540px;
  }
  .handmade__upper-text {
    margin-bottom: 16px;
  }

  .socials__box:not(:last-child) {
    margin-right: 24px;
  }
}
.backdrop[data-modal=""] {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 11;
}

.modal {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, 50%) scale(1.8);
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 40px;
  color: #000000;
  background-color: #fff5f6;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-image: url("../images/about/spilledmilk1x-descktop.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.modal__title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
}

.btn-close {
  padding: 0;
  fill: #907e82;
  position: absolute;
  top: 8px;
  right: 8px;
}
.btn-close:hover, .btn-close:focus {
  fill: #c7133e;
}

.close-icon {
  width: 20px;
  height: 20px;
}

.backdrop[data-modal=locations] .locations {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  transform: translate(-50%, -50%) scale(1);
}

.locations {
  max-width: calc(100% - 20px);
}
.locations__map {
  max-width: 70vw;
}

.backdrop[data-modal=franchise] .franchise {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  transform: translate(-50%, -50%) scale(1);
}

.franchise {
  width: 450px;
  max-width: calc(100% - 20px);
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
.form-field__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  color: #000000;
}
.form-field__wrapper {
  position: relative;
}
.form-field__input {
  width: 100%;
  height: 40px;
  color: inherit;
  padding: 8px 8px 8px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-field__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-field__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-field__input:focus, .form-field__input:hover {
  border-color: #c7133e;
}
.form-field__input--multiline {
  display: block;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}
.form-field__input--extra-margin {
  margin-bottom: 20px;
}
.form-field__input:focus + .form-field__icon, .form-field__input:hover + .form-field__icon {
  fill: #c7133e;
}
.form-field--checkbox {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 30px;
  font-size: 12px;
}
.form-field__icon {
  position: absolute;
  fill: #ffa5ba;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:hover .tool-tip {
  opacity: 1;
}
.form-field--checkbox:focus-within {
  outline: 1px dotted #ffb8ca;
}
.form-field__check {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  fill: #fff5f6;
  border-style: solid;
  border-color: #d41443;
  border-width: 2px;
  border-radius: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:checked + .form-field__check {
  fill: #d41342;
}

.request-form__agreement-link {
  text-decoration: underline;
  color: #ffa5ba;
}
.request-form__submit {
  display: block;
  margin: 0 auto;
}

.backdrop[data-modal=buynow] .buynow {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  transform: translate(-50%, -50%) scale(1);
}

.buynow {
  max-width: calc(100% - 20px);
  background-color: rgb(194, 226, 151);
  color: #ffb8ca;
}
@media only screen and (min-width: 320px) {
  .buynow {
    background-image: url("../images/hero-header/icecream1x-header-tablet.png");
    background-repeat: no-repeat;
    background-size: 570px;
    background-position: left 15% bottom;
  }
}
@media only screen and (min-width: 320px) and (min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (min-resolution: 192dpi), only screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .buynow {
    background-image: url("../images/hero-header/icecream2x-header-tablet.png");
    background-repeat: no-repeat;
    background-size: 570px;
    background-position: center bottom;
  }
}
@media screen and (max-width: 767px) {
  .buynow {
    width: 380px;
  }
}
@media screen and (min-width: 768px) {
  .buynow {
    width: 528px;
    background-image: url("../images/hero-header/girl1x-tablet.png"), url("../images/hero-header/icecream1x-header-tablet.png");
    background-repeat: no-repeat;
    background-size: 140px, 570px;
    background-position: right bottom, left 15% bottom;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .buynow {
    background-image: url("../images/hero-header/girl2x-tablet.png"), url("../images/hero-header/icecream2x-header-tablet.png");
    background-repeat: no-repeat;
    background-size: 140px, 570px;
    background-position: right bottom, center bottom;
  }
}

.modal-header__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (max-width: 767px) {
  .modal-header__title {
    font-size: 28px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  display: inline-block;
  width: 100%;
  height: 40px;
  font-size: 14px;
  letter-spacing: 0.02rem;
  color: #d41443;
  padding: 11px 0;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 10px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: #d41443;
  outline: none;
}
.form__input:hover {
  border-color: #d41443;
}

.form__label {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #fff;
  margin-bottom: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus-within .form__label {
  color: #d41443;
}

.textarea {
  position: relative;
}

.textarea__label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #fff;
  margin-bottom: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus-within .textarea__label {
  color: #d41443;
}

.form__area {
  display: block;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  resize: none;
  margin-bottom: 20px;
}

.form__tooltip {
  color: #fff;
  border: 1px solid transparent;
  background-color: #d41443;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  padding-left: 15px;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  top: -60%;
  left: 30px;
  min-width: 150px;
  opacity: 0;
  transition: opacity 600ms ease 500ms;
}
.form__tooltip::before, .form__tooltip::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid #d41443;
}
.form__tooltip::after {
  border-top: 10px solid transparent;
  bottom: -19px;
}
.form__field:hover .form__tooltip {
  opacity: 1;
}

.form__btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #fff;
  padding: 10px 56px;
  background-color: #d41443;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover {
  background-color: rgb(18, 18, 18);
}

.backdrop[data-modal=icecream] .icecream {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  transform: translate(-50%, -50%) scale(1);
}

.icecream {
  width: 450px;
  max-width: calc(100% - 20px);
}
.icecream__wrapper {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}
.icecream__buy {
  text-align: center;
}
.icecream__img {
  display: block;
  width: 128px;
  height: 128px;
}
.icecream__price {
  padding: 16px;
  font-family: "Titan One", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #d41443;
  text-shadow: -1px -1px 0 #ffa5ba, 1px -1px 0 #ffa5ba, -1px 1px 0 #ffa5ba, 1px 1px 0 #000;
  transform: rotate(5deg);
}
.icecream__description {
  text-indent: 2rem;
  font-size: 14px;
  line-height: 2;
}

.backdrop[data-modal=icecoffee] .icecoffee {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  transform: translate(-50%, -50%) scale(1);
}

.icecoffee {
  width: 450px;
  max-width: calc(100% - 20px);
}
.icecoffee__wrapper {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}
.icecoffee__buy {
  text-align: center;
}
.icecoffee__img {
  display: block;
  width: 128px;
  height: 128px;
}
.icecoffee__price {
  padding: 16px;
  font-family: "Titan One", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #d41443;
  text-shadow: -1px -1px 0 #ffa5ba, 1px -1px 0 #ffa5ba, -1px 1px 0 #ffa5ba, 1px 1px 0 #000;
  transform: rotate(5deg);
}
.icecoffee__description {
  text-indent: 2rem;
  font-size: 14px;
  line-height: 2;
}

.backdrop[data-modal=milkshakes] .milkshakes {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  transform: translate(-50%, -50%) scale(1);
}

.milkshakes {
  width: 450px;
  max-width: calc(100% - 20px);
}
.milkshakes__wrapper {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}
.milkshakes__buy {
  text-align: center;
}
.milkshakes__img {
  display: block;
  width: 128px;
  height: 128px;
}
.milkshakes__price {
  padding: 16px;
  font-family: "Titan One", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #d41443;
  text-shadow: -1px -1px 0 #ffa5ba, 1px -1px 0 #ffa5ba, -1px 1px 0 #ffa5ba, 1px 1px 0 #000;
  transform: rotate(5deg);
}
.milkshakes__description {
  text-indent: 2rem;
  font-size: 14px;
  line-height: 2;
}

.backdrop[data-modal=recipe] .recipe {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  transform: translate(-50%, -50%) scale(1);
}

@media only screen and (max-width: 767.98px) {
  .recipe {
    width: 90%;
  }
}
.recipe__content {
  height: 50vh;
  max-height: calc(100vh - 20px);
  padding-right: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #d41443 #fafafa;
  scrollbar-width: thin;
  line-height: 1.5;
}
.recipe__content ul {
  margin-bottom: 32px;
}
.recipe__content h2 {
  padding-bottom: 32px;
}
.recipe__content p {
  padding-bottom: 16px;
}
.recipe__content::-webkit-scrollbar {
  width: 10px;
}
.recipe__content::-webkit-scrollbar-track {
  background-color: #fafafa;
}
.recipe__content::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #d41443;
}

.goto-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9;
  box-shadow: 2px 2px 4px 0px #d41443, inset 0px 0px 4px 0px #d41443;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.goto-top.goto-top--hide {
  transform: translateX(200%);
}
.goto-top__icon {
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
}/*# sourceMappingURL=index.css.map */